version: '3'
services:
  api:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - 8000:8000
    env_file:
      - ./.env
    volumes:
      - .:/app

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: pg_isready -d $${POSTGRES_DB} -U postgres
      interval: 2s
      retries: 5
  
volumes:
  postgres_data: