name: Build and Deploy Code

on:
    - push
    - pull_request
jobs:
  build-and-test:
    environment:
        name: fastapi-test #env name in github secrets
    env:
      DATABASE_USER: ${{ secrets.DATABASE_USER }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
      DATABASE_NAME_PYTEST: ${{ secrets.DATABASE_PYTEST }}
      DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      ALGORITHM: ${{ secrets.ALGORITHM }}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: ${{ secrets.DATABASE_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          POSTGRES_HOST: ${{ secrets.DATABASE_HOST }}
          POSTGRES_DB: ${{ secrets.DATABASE_NAME_PYTEST }}
        ports:
        - "5432:5432"

        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    runs-on: ubuntu-latest
    steps:
      - name: pulling git-repo
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install pip
        run: python -m pip install --upgrade pip
      - name: Install python extensions
        run: pip install -r requirements.txt
      - name: Run Pytest 
        run: |
          pytest

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-seshu:latest

  deploy:
    needs: [ build-and-test] 
    environment:
        name: fastapi-test #env name in github secrets
    runs-on: ubuntu-latest
    steps:
      - name: pulling git-repo
        uses: actions/checkout@v2
      - name: Execute remote SSH commands using password and run the docker container
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd /opt/app/src
            git pull origin main
            docker compose -f docker-compose.prod.yml up -d
